<%- include('../partials/head.ejs') %> <%- include('../partials/header.ejs') %>
<div class="container col-12 col-xl-4 text-center">
  <h1>Lista de Usuarios</h1>
</div>
<%- include('../partials/footer.ejs') %>
