<%- include('../partials/head.ejs') %> <%- include('../partials/header.ejs') %>

<div class="container col-12 col-xl-4">
  <h1 class="pb-3 text-center">Cadastro de Usuário</h1>

  <form method="post" action="/register" id="register-form">
    <div class="form-outline mb-4">
      <input
        type="text"
        name="email"
        id="email"
        class="form-control"
        placeholder="Digite o email"
      />
      <label class="form-label" for="email">Email</label>
    </div>

    <div class="form-outline mb-4">
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        placeholder="Digite o nome"
      />
      <label class="form-label" for="name">Nome</label>
    </div>

    <div class="form-outline mb-4">
      <select
        class="form-select"
        aria-label="Escolha o perfil do Usuário"
        id="profile"
        name="profile"
      >
        <option selected value="">Escolha o perfil do Usuário</option>
        <option value="2001">Servidor Gestão</option>
        <option value="2002">Servidor</option>
        <option value="3001">Portaria</option>
        <option value="4001">Mororista</option>
      </select>
      <label class="form-label" for="profile">Prefil de Usuário</label>
    </div>

    <div class="form-outline mb-4">
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        placeholder="Digite a senha"
      />
      <label class="form-label" for="password">Senha</label>
    </div>

    <!-- Submit button -->
    <div class="d-grid gap-2 d-md-block">
      <button
        type="submit"
        onclick="validateRegister()"
        class="btn btn-primary mb-4"
      >
        Enviar
      </button>
    </div>
  </form>

  <div
    class="alert alert-danger box--hidden"
    role="alert"
    id="alert"
    name="alert"
  >
    <div>É Obrigatório o preenchimento de <strong>todos os campos</strong></div>
  </div>
  <%- include('../partials/footer.ejs') %>
</div>
