<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container">
      <a class="navbar-brand" href="/">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user"
              >Usuário</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Vigilante</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">@@@</a>
          </li>
        </ul>
        <!-- <form>
                    <input class="form-control" type="text" placeholder="Busca de Visitante" aria-label="Search">
                </form>-->
        <a
          class="nav-link active btn btn-dark px-4 py-1 mx-4"
          aria-current="page"
          href="/logout"
          >Sair</a
        >
      </div>
    </div>
  </nav>
</header>
