<%- include('partials/head.ejs') %> <%- include('partials/header.ejs') %>
<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <h1>Página não encontrada</h1>
  <img class="col-6" src="/images/undraw_page_not_found_re_e9o6.svg" alt="" />
</div>
<%- include('partials/footer.ejs') %>
