<%- include('partials/head.ejs') %> <%- include('partials/header.ejs') %>
    <div class="container d-flex flex-column justify-content-center align-items-center">
      <h1>OCORREU ALGUM ERRO</h1>
      <h2 class="text-sm-center fs-4 bg-danger">
        <%= message %>
      </h2>
      <img class="col-6" src="/images/undraw_server_down_s-4-lk.svg" alt="" />
    </div>
    <%- include('partials/footer.ejs') %>