<%- include('partials/head.ejs') %> <%- include('partials/header.ejs') %>
    <div class="container d-flex flex-column justify-content-center align-items-center">
      <h1>OCORREU ALGUM ERRO</h1>
      <p>Por favor repita a operação!</p>
      <img class="col-6" src="/images/undraw_server_down_s-4-lk.svg" alt="" />
    </div>
    <%- include('partials/footer.ejs') %>