<%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>
        <div class="container col-12 col-xl-4">
            <h1 class="pb-3 text-center">Lista de viagens</h1>

        </div>
        <%- include('partials/footer.ejs') %>